:root {
  --branding-color: #6c63ff;
  --heading-font: "Playfair", sans-serif;
  --paragraph-font: "Poppins" serif;
}

body {
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 64px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 30px;
}
p {
  font-weight: bold;
  font-family: var(--paragraph-font);
}
.hero {
  text-align: center;
  background-color: #f9f7fe;
  padding: 120px 80px;
}
.project-description-p {
  font-size: 16px;
  font-weight: bold;
  font-family: var(--paragraph-font);
  text-align: justify;
}
.about-me {
  text-align: center;

  padding: 120px 80px;
}
.about-me h1 {
  font-size: 64px;
  font-family: var(--heading-font);
}
.about-me h2 {
  font-family: var(--paragraph-font);
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
}
.about-me p {
  font-size: 16px;
  margin-top: 30px;
  line-height: 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  font-family: "Poppins";
  color: #ffff;
  border-radius: 4px;
  padding: 18px 30px;

  margin-top: 25px;
}
.btn-project {
  font-family: "Poppins";
  color: var(--branding-color);
  border-radius: 4px;
  padding: 18px 30px;
  border: 1px solid var(--branding-color);
  margin-top: 25px;
}
.hero h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
.hero h1 {
  font-size: 96px;
}
.hero p {
  font-size: 36px;
  text-align: center;
}
.project-description {
  padding: 40px 20px;
}
.kirsten {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  padding-top: 100px;
  margin: 50px;
}
.work-page-description {
  font-family: var(--paragraph-font);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.work-page-description-p {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 965px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 24px;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 44px;
  }
  .hero p {
    font-size: 24px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-me {
    margin: none;
  }

  .about-me h1 {
    font-size: 30px;
    line-height: 1;
  }
  .about-me h2 {
    font-size: 15px;
    margin: 5px;
  }
  .about-me p {
    font-size: 14px;
    margin: 5px;
    text-align: left;
  }
  .kirsten {
    padding-top: 0px;
  }

  .work-page-description {
    font-family: var(--paragraph-font);
    font-size: 20px;
  }
  .work-page-description-p {
    font-family: var(--paragraph-font);
    margin-bottom: 5px;
  }
  .work-header {
    font-size: 30px;
  }
  .work-images {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
  }
}
