body {
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 64px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 30px;
}
p {
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins" serif;
  text-align: justify;
}
.hero {
  text-align: center;
  background-color: #f9f7fe;
  padding: 120px 80px;
}
.btn-branding {
  background-color: #6c63ff;
  font-family: "Poppins";
  color: #ffff;
  border-radius: 4px;
  padding: 18px 30px;

  margin-top: 25px;
}
.btn-project {
  font-family: "Poppins";
  color: #6c63ff;
  border-radius: 4px;
  padding: 18px 30px;
  border: 1px solid #6c63ff;
  margin-top: 25px;
}
.hero h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair", sans-serif;
}
.hero h1 {
  font-size: 96px;
}
.hero p {
  font-size: 36px;
}
